$default-bg-color: #4f535b;
$default-bg-color-light: #666;
$default-bg-color-dark: #282828;
$default-bg-color-darker: #1a1a1a;

$legendary-color: orange;
$epic-color: magenta;
$rare-color: blue;
$uncommon-color: lime;
$common-color: gray;

$primary-color: #0068d8;
$primary-color-lighter: #3b99ff;
$primary-color-faint: #d8ebff;
$primary-color-darker: #0055b1;
$warning-color: orange;
$warning-color-lighter: gold;
$warning-color-darker: darkorange;
$danger-color: red;
$danger-color-lighter: indianred;
$danger-color-darker: firebrick;
$success-color: lime;
$success-color-lighter: lightgreen;
$success-color-darker: limegreen;

$fulfilled-color: #28a745;

$default-border-color: #ddd;
$default-border-color-darker1: #aaa;
$default-border-color-darker2: #777;
$default-border-color-darker3: #444;

$default-shadow-color: rgba(0, 0, 0, 0.2);

$default-text-color: #515151;
$default-text-color-lighter1: #686868;
$default-text-color-lighter2: #7f7f7f;
$default-text-color-lighter3: #979797;

$default-link-color: $primary-color-lighter;

$default-font-size: 16px;
$small-font-size: 12px;

$icon-font: "Font Awesome 5 Free";
