@import "../../sass/variables.scss";

.userForm {
  width: 500px;
  margin: 10px auto;
}

.tabsHeader {
  width: 100%;

  background-color: #eee;
}

.tabButton {
  display: inline-block;
  text-align: center;
  width: 80px;
  padding: 10px 0;
  cursor: pointer;

  &.active {
    background-color: #ccc;
  }

  &:not(.active):hover {
    background-color: #ddd;
  }

  .tabButtonInner {
    display: block;
    padding: 5px;
    border-right: 1px solid $default-border-color;
  }
}
